.upgrade__header{
    display: flex;
    justify-content: center;
    padding-top: 114px;
    font-weight: 700;
    font-size: 36px;
    line-height: 47px;
    padding-left: $size;

    span{
        color: $accent;
        padding-left: 5px;
        padding-right: 5px;
    }
  
}

.upgrade__content{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 90px;
    width: 900px;
    margin: 0 auto;
    padding-left: 25px;
}

.upgrade__card{
    background-color: #5A5A5A;
    margin: 10px 10px 10px 10px;
    display: inline-block;
    width: 400px;

}

.upgrade__card_header{
    font-size: 18px;
    line-height: 23px;
    padding: 5px 5px 5px 5px;
}

.upgrade__card_text{
    font-size: 12px;
    line-height: 18px;
    width: 400px;
    color: #E8DCDC;
    padding: 5px 5px 5px 5px;
}

.upgrade__card_button{
    display: flex;
    justify-content: center;
    margin-top: 15px;
    margin-left: 620px;
}